body {
    margin: 20px;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.avatar {
    width: 150px;
    height: 200px;
    border: 2px solid #000000;
    border-radius: 2px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #832161;
    color: #f0eff4;
    border: 6px solid #da4167;
    text-shadow: 2px 2px #3d2645;
    border-radius: 10px;

        

    }
    
.border{
    border: 2px solid #f0eff4;
    background: #3d2645;
    
}
        
    




